*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.upper-bar-background
{
    background-color: #f8481c;
    width: 100%;
    height: 90px;
}
.container
{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar
{
    width: 100%;
    display: flex;
    align-items: center;
}
.tocho-inc-icon
{
    width: 60px;
    cursor:pointer;
    margin: 10px 0;
}
.menu-icon
{
    display: none;
    width: 40px;
    cursor: pointer;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul li
{
    translate: 0 -10px;
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a
{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}
nav ul li a:hover
{
    color: #00FFFF;
}
.bar-blog-button
{
    text-decoration: underline;
    text-underline-offset: 8px;
}
.row-1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1
{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-1 h2
{
    color: #f8481c;
    font-size: 54px;
}
.col-1 h3
{
    font-size: 18px;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-1 p
{
    font-size: 16px;
    font-weight: 100;
    margin: 20px 0 10px;
    line-height: 28px;
}
.col-1 h4
{
    color: #f8481c;
    margin: 30px 0;
    font-size: 20px;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.col-1::after
{
    content: '';
    width: 10px;
    height: 80%;
    background: linear-gradient(#f8481c, #f8ab1c);
    position: absolute;
    left: -40px;
    top: 8px;
}
.col-2
{
    left: 150px;
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-2 .blog1_photo
{
    width: 60%;
}
.col-2 .color-box
{
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(#f8481c, #f8ab1c);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.row-2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-3
{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-3 h2
{
    color: #f8481c;
    font-size: 54px;
}
.col-3 h3
{
    font-size: 18px;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-3 p
{
    font-size: 16px;
    font-weight: 100;
    margin: 20px 0 10px;
    line-height: 28px;
}
.col-3 h4
{
    color: #f8481c;
    margin: 30px 0;
    font-size: 20px;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.col-3::after
{
    content: '';
    width: 10px;
    height: 75%;
    background: linear-gradient(#f8481c, #f8ab1c);
    position: absolute;
    left: -40px;
    top: 8px;
}
.col-4
{
    left: 150px;
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-4 .blog2_photo
{
    width: 60%;
}
.col-4 .color-box
{
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(#f8481c, #f8ab1c);
    height: 100%;
    width: 100%;
    z-index: -1;
    translate: -60%;
}

.row-3
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-5
{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-5 h2
{
    color: #f8481c;
    font-size: 54px;
}
.col-5 h3
{
    font-size: 18px;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-5 p
{
    font-size: 16px;
    font-weight: 100;
    margin: 20px 0 10px;
    line-height: 28px;
}
.col-5 h4
{
    color: #f8481c;
    margin: 30px 0;
    font-size: 20px;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.col-5::after
{
    content: '';
    width: 10px;
    height: 80%;
    background: linear-gradient(#f8481c, #f8ab1c);
    position: absolute;
    left: -40px;
    top: 8px;
}
.col-6
{
    left: 150px;
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-6 .blog3_photo
{
    width: 60%;
}
.col-6 .color-box
{
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(#f8481c, #f8ab1c);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.row-4
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-7
{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-7 h2
{
    color: #f8481c;
    font-size: 54px;
}
.col-7 h3
{
    font-size: 18px;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-7 p
{
    font-size: 16px;
    font-weight: 100;
    margin: 20px 0 10px;
    line-height: 28px;
}
.col-7 h4
{
    color: #f8481c;
    margin: 30px 0;
    font-size: 20px;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.col-7::after
{
    content: '';
    width: 10px;
    height: 75%;
    background: linear-gradient(#f8481c, #f8ab1c);
    position: absolute;
    left: -40px;
    top: 8px;
}
.col-8
{
    left: 150px;
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-8 .blog4_photo
{
    width: 60%;
}
.col-8 .color-box
{
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(#f8481c, #f8ab1c);
    height: 100%;
    width: 100%;
    z-index: -1;
    translate: -60%;
}

.copyright-text
{
    position: relative;
    color: #f8481c;
    font-size: 16px;
    font-weight: 100;
    margin: 20px 0 10px;
    line-height: 28px;
}
.social-links .social-icon .social-icon-image
{
    height: 25px;
    margin: 20px;
    cursor: pointer;
}
.social-links
{
    text-align: center;
}
.social-icon
{
    
    color: #f8481c;
    transition: color 0.2s;
    text-decoration: none;
}
.social-icon:hover
{
    color:#00FFFF;
}

@media only screen and (max-width: 700px)
{
    .upper-bar-background
    {
        width: 100%;
        height: 75px;
    }
    .tocho-inc-icon
    {
        width: 50px;
    }
    nav ul
    {
        width: 100%;
        background: linear-gradient(#f8481c, #f8ab1c);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li
    {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a
    {
        color: #ffffff;
    }
    .menu-icon
    {
        display: block;
    }
    #menu-list
    {
        overflow: hidden;
        transition: 0.5s;
    }
    .row-1
    {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2
    {
        flex-basis: 100%;
        margin-bottom: 50px;
        left: 10%;
    }
    .col-2 .blog1_photo
    {
        width: 77%;
    }
    .col-1
    {
        flex-basis: 100%;
    }
    .col-1 h2
    {
        font-size: 35px;
    }
    .col-1 h3
    {
        font-size: 15px;
    }
    .col-1 h4
    {
        font-size: 18px;
    }

    .row-2
    {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-4
    {
        flex-basis: 100%;
        margin-bottom: 50px;
        left: 10%;
    }
    .col-4 .blog2_photo
    {
        width: 77%;
    }
    .col-3
    {
        flex-basis: 100%;
    }
    .col-3 h2
    {
        font-size: 35px;
    }
    .col-3 h3
    {
        font-size: 15px;
    }
    .col-3 h4
    {
        font-size: 18px;
    }

    .row-3
    {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-6
    {
        flex-basis: 100%;
        margin-bottom: 50px;
        left: 10%;
    }
    .col-6 .blog3_photo
    {
        width: 77%;
    }
    .col-5
    {
        flex-basis: 100%;
    }
    .col-5 h2
    {
        font-size: 35px;
    }
    .col-5 h3
    {
        font-size: 15px;
    }
    .col-5 h4
    {
        font-size: 18px;
    }

    .row-4
    {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-8
    {
        flex-basis: 100%;
        margin-bottom: 50px;
        left: 10%;
    }
    .col-8 .blog4_photo
    {
        width: 77%;
    }
    .col-7
    {
        flex-basis: 100%;
    }
    .col-7 h2
    {
        font-size: 35px;
    }
    .col-7 h3
    {
        font-size: 15px;
    }
    .col-7 h4
    {
        font-size: 18px;
    }
}
